:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;

    --accent-color: rgb(77, 90, 229);
    --hover-color: rgb(64, 75, 191);
    --secondary-dark-color: rgb(46, 47, 66);
    --green: rgb(49, 208, 170);
    --secondary-color: rgb(67, 68, 85);
    --light-slate: rgb(142, 143, 153);
    --secondary-light: rgb(231, 233, 252);
    --cloud: rgb(244, 244, 253);
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --primary-color: rgb(255, 255, 255);
    --light-color: rgb(252, 252, 252);
    --items: 4;
    --col-indent: 24px;
    --row-indent: var(--col-indent);
    --porfolio-border: 1px solid var(--secondary-light);
}

body {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

address {
    font-style: normal;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* #Common */

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;

}
.section {
    padding: 120px 0;
}

.common-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondary-dark-color);
    margin: 0 auto;
    margin-bottom: 80px;
}

.common-headers {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: var(--secondary-dark-color);
    margin-top: 30px;
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--row-indent);
    column-gap: var(--col-indent);
}

.card-set-item {
    width: calc((100% - var(--col-indent) * (var(--items) - 1)) / var(--items));
}

/* #Logo */

.logo {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-right: 76px;
}

.logo-dark {
    color: var(--secondary-dark-color);
}

/* #Header */

.header {
    border-bottom: 1px solid var(--secondary-light);
}

.header-container {
    display: flex;
    align-items: center;
}

.nav-section {
    display: flex;
    align-items: center;
}
.nav-list, .address-list {
    display: flex;
    gap: 40px;
}

.link {
    padding: 24px 0;
}

.nav-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-dark-color);
    display: block;
}

.address-item {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    margin-left: auto;
}

.link:hover,
.link:focus {
    color: var(--hover-color);
}

/* #Button */

.btn {
    background-color: transparent;
    border: 1px solid transparent;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    padding: 16px 32px;
    margin: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
}

.btn-accent {
    color: var(--primary-color);
    background-color: var(--accent-color);
}

.btn:hover, 
.btn:focus {
    background-color: var(--hover-color);
}

/* #Text */

.text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.align {
    text-align: center;
}

.additional-text {
    font-size: 16px;
}

/* #Hero */

.hero {
    background-color: var(--secondary-dark-color);
    padding: 188px 0;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--primary-color);
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin: auto;
    max-width: 496px;
    margin-bottom: 48px;
}

/* #Values */

.values-section {
    display: flex;
    gap: 24px
}

.values-item {
    width: 264px;
}

.values-headers {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: var(--secondary-dark-color);
    margin-bottom: 8px;
}

/* #Team section */

.team-list {
    gap: 24px;
}
.team-container {
    padding: 32px 0
}

.team-section {
    background-color: var(--cloud);
}

.team-item {
    background-color: var(--primary-color);
    border-radius: 0px 0px 4px 4px;
    /* padding: 0px 0px 32px 0px; */
}

/* #Portfolio */

.portfolio-list {
    --items: 3;
    --col-indent: 24px;
    --row-indent: 48px
}

.portfolio-title, .team-title {
    margin-bottom: 72px;
}

.portfolio-description {
    border-bottom: var(--porfolio-border);
    border-left: var(--porfolio-border);
    border-right: var(--porfolio-border);
    padding: 32px 16px;
    width: 360px;
}

/* #Footer */

.footer-logo {
    color: var(--cloud);
}

.footer {
    background-color: var(--secondary-dark-color);
    padding: 100px 0;
}
.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    display: block;
    width: 264px;
}
