:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;

    --accent-color: rgb(77, 90, 229);
    --hover-color: rgb(64, 75, 191);
    --secondary-dark-color: rgb(46, 47, 66);
    --green: rgb(49, 208, 170);
    --secondary-color: rgb(67, 68, 85);
    --light-slate: rgb(142, 143, 153);
    --secondary-light: rgb(231, 233, 252);
    --cloud: rgb(244, 244, 253);
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --primary-color: rgb(255, 255, 255);
    --light-color: rgb(252, 252, 252);
}

body {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: 500;
}

ul,
ol {
    list-style-type: none;
}

address {
    font-style: normal;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.visually-hidden {
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
}


.btn {
    background-color: transparent;
    border: 1px solid transparent;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
}

.btn-accent {
    color: var(--primary-color);
    background-color: var(--accent-color);
}

.btn:hover, btn:focus {
    background-color: var(--hover-color);
}

.headers { 
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 700
}
.text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}
.align {
    text-align: center;
}
.additional-text {
    font-size: 16px;
    text-align: center;
}

.logo {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}

.logo-dark {
    color: var(--secondary-dark-color);
}

.nav-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color)
}

.address-item {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.link:hover, .link:focus {
    color: var(--hover-color);
}

.hero {
    background-color: var(--secondary-dark-color);
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--primary-color);
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.team-section {
    background-color: var(--cloud);
}

.common-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.values-section {
    color: var(--secondary-dark-color)
}

.title {
    text-align: center;
    text-transform: capitalize;
    color: var(--secondary-dark-color);
}

.footer-logo {
    color: var(--cloud)
}

.footer {
    background-color: var(--secondary-dark-color);
}

.footer-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}
